@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,400&display=swap');

:root{
    /*### Primary*/

--Bright-Blue: hsl(220, 98%, 61%);
--Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

/*### Neutral*/

/*### Light Theme*/

--Very-Light-Gray: hsl(0, 0%, 98%);
--Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
--Light-Grayish-Blue: hsl(233, 11%, 84%);
--Dark-Grayish-Blue: hsl(236, 9%, 61%);
--Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

/*### Dark Theme*/

--Very-Dark-Blue: hsl(235, 21%, 11%);
--Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
--Light-Grayish-Blue: hsl(234, 39%, 85%);
--Light-Grayish-Blue : hsl(236, 33%, 92%); /*(hover)*/
--Dark-Grayish-Blue: hsl(234, 11%, 52%);
--Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
--Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);

 --font-family: 'Josefin Sans', sans-serif;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);

}
body{
    background-color: var(--Very-Dark-Blue);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-bg{

    background-image: url(../images/bg-mobile-dark.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 20vh;
}
.container-bg-top{
    display: flex;
    padding: 3rem 1.5rem;
    justify-content: space-between;
    align-items: center;
}
.container-bg-top h1{
    color: var(--Very-Light-Gray);
    letter-spacing: 10px;
}
.icon-sun{
    cursor: pointer;
}
.container-bg-center{
    padding: 1.2rem;
}
.container-bg-center form{
    display: flex;
    align-items: center;
    width: 100%;
    transform: translateY(-40px);
    background-color: var(--Very-Dark-Desaturated-Blue);
    padding: 0.3rem;
    border-radius: 5px;
}
.inputTarea:focus{
    color: white; /*Para que al escribir sea blanco*/ 
    
}
.circle{
    width: 1.2em;
    height: 1.2em;
    border: 2px solid gray;
    border-radius: 100%;
    margin-left: 0.5rem;
}
.container-bg-center input{
    width: 85%;
    padding: 0.5rem;
    margin: 0 auto;
    border: none;
    outline: none;
    background-color: var(--Very-Dark-Desaturated-Blue);
}
.tareas{
    background-color: var(--Very-Dark-Desaturated-Blue);
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
}
.tarea{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.938);
}
.tarea img{
    width: 0.8em;
    height: 0.8em;
    cursor: pointer;
}
.input-tarea{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.input-tarea input{
    cursor: pointer;
}
.input-tarea p{
    font-size: 12px;
    color: var(--Very-Light-Gray);

}

.itemsLeft-clear{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}
.itemsLeft-clear p{
    color: var(--Dark-Grayish-Blue);
    font-size: 12px;
}


.categorias{
    background-color: var(--Very-Dark-Desaturated-Blue);
    display: flex;
    width: 89.5%;
    margin: 0 auto;
    justify-content: space-around;
    padding: 1.2rem;
    border-radius: 5px;
    margin-top: 2rem;
}
.categorias p{
    color: var(--Dark-Grayish-Blue);
    font-size: 14px;
    cursor: pointer;
}
.categorias p:nth-child(1){
    color: var(--Bright-Blue);
}

